.donation_status {
  font-family: Poppins;
  color: black;
  /* background-color: lightblue; */
  margin-top: 63px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.we-are-growing-fast {
  margin-bottom: 11px;
}

.donation_status-description {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.donation_status-down {
  background-color: #ECEAE6;
  min-width: 75%;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.campaign-name {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 25px;
}

.fund-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fund-stats-left {
  flex: 1;
  text-align: start;
}

.fund-stats-right {
  flex: 1;
  text-align: end;
}

.current-fund {
  font-size: 55px;
  font-weight: 700;
}

.target {
  font-size: 20px;
  font-style: italic;
  color: #8D8D8D;
  margin-top: -15px;
}

.fund-stats-right .current-fund {
  color: #D9C18B;
}

.progressBar-border {
  border:1px solid #ccc!important;
  background-color: white;
  border-radius: 10px;
}

.progressBar-bordered tr{
  border-bottom:1px solid #ddd;
}

.progressBar-khaki {
  border-radius: 10px;
  color:white!important;background-color:#DFBB69!important;
  font-family: Poppins; font-weight: 600; color: white; font-size:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-donate-button {
  border-radius: 20px;
  background: #DFBB69;
  width: 100%;
  height: 70px;
  border: none;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  margin-top: 20px;
  cursor: pointer;
}

.status-donate-button a {
  text-decoration: none;
  color: white;
}
